/* 
font-family: 'Allerta', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/
body {
  font-family: 'Allerta', sans-serif;
}
.titulo {
  font-family: 'Montserrat', sans-serif; 
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.title-a {
  margin-top: 0;
  font-size: 24px;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.cafes {
  color: #412B19;

}

/* SELECTOR DESCENDENTE */
.cafes h2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 35px;
}
/* El background puede ser un color o imagen */

.portada {
  background-image: url('../img/background.jpg');
  color: white;
  padding: 20px;
}

.menu {
  display: inline-block;
  font-size: 24px;
}

.menu li {
  display: inline-block;
}

.logotipo {
  display: inline-block;
}

.header {

}
/* Una buena practica tener estilos centralizados */
.contenedor {
  width: 800px;
  margin: auto;
}