/* 
font-family: 'Allerta', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/
body {
  font-family: 'Allerta', sans-serif;
}
.titulo {
  font-family: 'Montserrat', sans-serif; 
  font-size: 70px;
}

.title-a {
  font-size: 24px;
}

.title-b {
  font-size: 50px;
}

.cafes {
  color: #412B19;
}

/* SELECTOR DESCENDENTE */
.cafes h2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 35px;
}

/* El background puede ser un color o imagen */

.portada {
  background-image: url('../img/background.jpg');
  color: white;
}

.menu {
  font-size: 24px;
}
